.wado_page-container
  min-height: 100vh
  margin: 0
  display: grid
  grid-template-rows: auto 1fr auto

.wado_content
  display: flex
  width: 100%
  max-width: 800px
  margin: 0 auto
  flex-direction: column
  padding: 20px 0 20px 0
  &.thin
    max-width: 400px
  .wado_welcome-picture
    max-width: 100%
  .wado_avatar, .wado_header, .fill-info
    text-align: center
  .wado_header
    font-size: 50px
    padding: 0 0 20px 0
  .fill-info
    padding: 50px 0 50px 0
  p
    margin: 5px 0 5px 0
    &:first-child
      font-weight: bold

.wado_footer
  margin-top: auto
  box-sizing: border-box
  width: 100%
  text-align: left
  font: 16px sans-serif
  padding: 25px 25px 30px 25px
  background: linear-gradient(180deg,rgba(9,30,66,0.13) 0,rgba(9,30,66,0.13) 1px,rgba(9,30,66,0.08) 1px,rgba(9,30,66,0) 4px)
  .footer-left, .footer-center, .footer-right
    display: inline-block
    vertical-align: top
  .footer-left
    float: left
    width: 33%
  .footer-center
    text-align: center
    width: 33%
  .footer-right
    float: right
    width: 33%

@media (max-width: 880px)
  .wado_footer
    .footer-left, .footer-center, .footer-right
      display: block
      width: 100%
      text-align: center
  .wado_content
    width: calc(100% - 30px)
    padding: 15px 0 30px 0